<div class="ui large top menu inverted">
  <div class="ui container">
    <a href="{% url 'landing_view' %}" class="active item">Home</a>
    <a href="#" class="item">About Us</a>
    <a href="#" class="item">Contact</a>
    <a href="#" class="item">Careers</a>

    <div class="right menu">
      <div class="item">
        <a id="login-btn" class="ui button inverted">Employee Dashboard</a>
      </div>
    </div>
  </div>
</div>
