{% load static %}

<div class="ui large top menu">
  <div class="ui container">
    <a href="{% url 'landing_view' %}" class="active item">Overview</a>
    <a href="#" class="item">Projects</a>
    <a href="#" class="item">Employees</a>
    <a href="#" class="item">Calendar</a>

    <div class="right menu">
      <div class="ui dropdown item">
        <div class="text">
          <img class="ui right spaced avatar image" src="{% static 'img/avatars/'|add:user.employeeprofile.picture %}">
          {{ user.username }}
        </div>
        <i class="dropdown icon"></i>
        
        <div class="menu">
          <div class="header">{{ user.first_name }} {{ user.last_name }}</div>
          <div class="divider"></div>

          <a href="{% url 'landing_view' %}" class="item"><i class="globe icon"></i> View Profile</a>
          <a href="{% url 'landing_view' %}" class="item"><i class="edit icon"></i> Edit Profile</a>
          <a href="{% url 'landing_view' %}" class="item"><i class="user icon"></i> Account Details</a>
        </div>
      </div>

      <form action="{% url 'logout_view' %}" class="ui form" method="post">
        {% csrf_token %}

        <div class="item">
          <button class="ui negative labeled icon button">
            <i class="power off icon"></i>
            Log Out
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
