{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
  {% block css %}{% endblock css %}
  <title>ParraSoft™ | {% block title %}{% endblock title %}</title>
</head>
<body>
  {% block content %}{% endblock content %}

  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'semantic.min.js' %}"></script>
  {% block script %}{% endblock script %}
</body>
</html>
