{% extends "base.html" %}

{% block title %}Delete Tweet{% endblock %}
{% block content %}
  <form method="POST">
    {% csrf_token %}
    <h5>Are you sure you want to delete this tweet?</h5>
    <h3>{{ object.content }}</h3>

    <button type="submit" class="btn btn-danger">Yes</button>
    <a href="{% url 'list' %}" class="btn btn-link">No</a>
  </form>
{% endblock %}
