{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block content %}
  <h1>Hello Django Style</h1>

  {% if request.user.is_authenticated %}
    Bienvenido {{ request.user.username }}
  {% else %}
    <form method="POST">
      {% csrf_token %}

      {{ form }}

      <button class="btn btn-primary">Login</button>
    </form>

    <a href="{% url 'signup' %}">Sign Up</a>
  {% endif %}

  <p>{{ message }} | {{ user }}</p>
{% endblock %}
