{% extends "base.html" %}

{% block title %}Tweet List{% endblock %}
{% block content %}
  {% include "form_create.html" %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User</th>
        <th scope="col">Content</th>
        <th scope="col">TimeStamp</th>
        <th scope="col"></th>
        <th scope="col">Actions</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for tweet in object_list %}
        <tr>
          <th scope="row">{{ tweet.id  }}</th>
          <td>{{ tweet.user }}</td>
          <td>{{ tweet.content }}</td>
          <td>{{ tweet.timestamp }}</td>
          <td><a href="{% url 'Detail' tweet.id %}">Detail</a></td>
          <td><a href="{% url 'update_view' tweet.id %}">Update</a></td>
          <td><a href="{% url 'delete2' tweet.id %}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
