{% extends "base.html" %}

{% block title %}Tweet List{% endblock %}
{% block content %}
  {% include "form_create.html" %}

  <!-- Ajax list view -->
  <ul id="mount"></ul>

  <!-- Table view -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User</th>
        <th scope="col">Content</th>
        <th scope="col">TimeStamp</th>
        <th scope="col"></th>
        <th scope="col">Actions</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for tweet in object_list %}
        <tr>
          <th scope="row">{{ tweet.id  }}</th>
          <td>{{ tweet.user }}</td>
          <td>{{ tweet.content }}</td>
          <td>{{ tweet.timestamp }}</td>
          <td><a href="{% url 'detail' tweet.id %}">Detail</a></td>
          <td><a href="{% url 'update' tweet.id %}">Update</a></td>
          <td><a href="{% url 'delete' tweet.id %}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block script %}
  const TweetTemplate = ({ user, content }) =>
    `<li><strong>${user.username}</strong>: ${content}</li>`

  $(document).ready(function() {
    $.ajax({
      url: '/api/tweets/',
      method: 'GET'
    })
    .done(function(tweets) {
      for(tweet of tweets) {
        $('#mount').append(TweetTemplate(tweet))
      }
    })
    .fail(console.log)
  })
{% endblock script %}
