{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
  <form method="POST" class="form-group">
    {% csrf_token %}

    <div class="row">
      <div class="col-md-8 col md-offset-2">
        {{ form.as_p }}

        <button type="submit" class="btn btn-outline-dark my-2 my-sm-8 form-control">
          Sign Up
        </button>
      </div>
    </div>
  </form>
{% endblock content %}
