{% extends "base.html" %}

{% block title %}Update Tweet{% endblock %}
{% block content %}
<form method="POST">
	{% csrf_token %}
	{{ form }}
	<button type="submit" class="btn btn-primary form-control">Update</button>
</form>
{% endblock %}
