{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/bootstrap.min.css' %}">
  <title>Tweeter | {% block title %}{% endblock %}</title>
</head>
<body>
  {% include "navbar.html" %}

  {% block content %}{% endblock %}

  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap4/bootstrap.min.js' %}"></script>
  <script>{% block script %}{% endblock script %}</script>
</body>
</html>

