{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ user.first_name }} {{ user.last_name }}'s Dashboard
{% endblock title %}

{% block css %}
  <style>
    body {
      background: #F9F9F9;
    }
  </style>
{% endblock css %}

{% block content %}
  {% include 'components/main_menu.html' %}

  <div class="ui container">
    <div class="ui stacked segments">
      <div class="ui segment large header">
        Projects Overview
      </div>

      <div class="ui horizontal segments">
        <div class="ui segment">
          <h2 class="ui header">
            <i class="blue briefcase icon"></i>
            <div class="content">
              {{ projects_n }}
              <div class="sub header">Total projects</div>
            </div>
          </h2>
        </div>
        
        <div class="ui segment">
          <h2 class="ui header">
            <i class="teal check circle icon"></i>
            <div class="content">
              {{ completed_n }}
              <div class="sub header">Completed</div>
            </div>
          </h2>
        </div>

        <div class="ui segment">
          <h2 class="ui header">
            <i class="yellow flag icon"></i>
            <div class="content">
              {{ in_progress_n }}
              <div class="sub header">In Progress</div>
            </div>
          </h2>
        </div>

        <div class="ui segment">
          <h2 class="ui header">
            <i class="red frown outline icon"></i>
            <div class="content">
              {{ overdue_n }}
              <div class="sub header">Behind schedule</div>
            </div>
          </h2>
        </div>
      </div>
    </div>

    <div class="ui stackable four column grid">
      <div class="five wide column">
        <div class="ui stacked segments">
          <div class="ui header large segment">Tasks Overview</div>

          <div class="ui segment">
            <h2 class="ui header">
              <i class="calendar icon"></i>
              <div class="content">
                {{ tasks_n }}
                <div class="sub header">Tasks Open</div>
              </div>
            </h2>

            <div class="ui circular labels">
              <div class="ui horizontal list">
                <div class="item"><a class="ui green label spaced">{{ tasks_n_complete }}</a> Completed</div>
                <div class="item"><a class="ui yellow label spaced">{{ tasks_n_pending }}</a> Pending</div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="eleven wide column">
        <div class="ui stacked segments">
          <div class="ui header large segment">Current Pending Projects</div>

          <div class="ui segment">
            <div class="ui divided items">
              {% for project in current_projects %}
                <div class="item">
                  <div class="ui tiny image">
                    <img src="{% static 'img/projects/'|add:project.icon %}">
                  </div>

                  <div class="middle aligned content">
                    <a href="{% url 'detail_project' project.id %}" class="header floated left">{{ project.name }}</a>
                    
                    <div class="ui teal label" style="margin-left: 1em;">
                      <i class="clock icon"></i>{{ project.due_date|timeuntil }} left
                    </div>

                    <a class="ui blue image label">
                      <img src="{% static 'img/avatars/'|add:project.leader.employeeprofile.picture %}">
                      {{ project.leader.first_name }}
                      <div class="detail">Team Leader</div>
                    </a>

                    <div class="description">
                      <p>{{ project.description }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script>$('.ui.dropdown').dropdown()</script>
{% endblock script %}
