{% extends "base.html" %}
{% load static %}

{% block title %}{{ project.name }} Details{% endblock %}

{% block content %}
  {% include 'components/main_menu.html' %}

  <div class="ui container">
    <div class="ui text container" style="margin-bottom: 1em;">
      <h1 class="ui center aligned header">
        <img src="{% static 'img/projects/'|add:project.icon %}" class="ui rounded large image">
        <div class="content">{{ project.name }}</div>

        <div class="ui tiny three item menu">
          <a class="item"><i class="github icon"></i> Repository</a>
          <a class="item"><i class="pencil icon"></i> Edit Project</a>
          <a class="item"><i class="plus circle icon"></i> Add Activity</a>
        </div>

        <p class="sub header">{{ project.description }}</p>
      </h1>
    </div>

    <div class="ui blue progress small" data-percent="{{ percentage }}" id="proj-progress">
      <div class="bar"></div>
    </div>


    <div class="ui three stackable cards">
      {% for activity in project.activity_set.all %}
        <div class="card">
          <div class="content">
            <i class="right floated check icon"></i>
            <i class="right floated trash icon"></i>

            <div class="header">{{ activity.title }}</div>

            <div class="description">
              {{ activity.description }}
            </div>

            <div class="ui label" style="margin-top:1em;">
              <i class="bell outline icon"></i>
              Deadline: <span class="detail">{{ activity.deadline }}</span>
            </div>

            <h4 class="ui sub header">Tasks to complete</h4>
            <div class="ui middle aligned selection list">
              {% for task in activity.task_set.all %}
                <div class="item">
                  <div class="content">
                    {% if task.completed %}
                      <i class="blue check square icon"></i>
                    {% else %}
                      <i class="toggle square outline icon"></i>
                    {% endif %}
                    <a style="color:#555;" href="#">{{ task.title }}</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="extra content">
            <div class="ui large transparent left icon input">
              <i class="sitemap icon"></i>
              <input type="text" placeholder="Add a new task...">
            </div>
          </div>

          <div class="ui bottom attached button">
            <i class="pencil icon"></i> Edit Activity
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $('.ui.dropdown').dropdown()
    $('#proj-progress').progress();
  </script>
{% endblock script %}
