{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome!{% endblock title %}

{% block content %}
  {% include 'components/anon_menu.html' %}

  <div class="ui text container center aligned">
    <h1 class="ui header" style="font-size: 4em;"><img src="{% static 'img/logo.png' %}" alt="logo"> ParraSoft</h1>
    <h3 class="ui grey header">Leading software development company in Mexico. We harbor some of the best talents ranging from immensely talented graphic designers to user experience veterans, seasoned game developers and battle-tested programmers.</h3>
    <div class="ui huge primary button">Employee Sign Up <i class="right arrow icon"></i></div>
  </div>

  <div class="ui container" style="margin-top: 2em;">
    <div class="ui horizontal segments">
      <div class="ui segment">
        <h2 class="ui icon header">
          <i class="paper plane icon"></i>
          <div class="content">
            Fast delivery
            <div class="sub header">We're always trying to deliver our projects as fast and reliably as possible without sacrificing quality and effort.</div>
          </div>
        </h2>
      </div>
      <div class="ui left aligned segment">
        <h2 class="ui icon header">
          <i class="dollar sign icon"></i>
          <div class="content">
            Affordable
            <div class="sub header">Our projects are affordable for every type of customer and budget. Just give us a call and let's make business together!</div>
          </div>
        </h2>
      </div>
      <div class="ui left aligned segment">
        <h2 class="ui icon header">
          <i class="rocket icon"></i>
          <div class="content">
            Cutting Edge Tech
            <div class="sub header">We strive to use the latest technology for you, unless you specify the compatibility of your choice. Our goal is to build quality, scalable and durable software.</div>
          </div>
        </h2>
      </div>
    </div>
  </div>

  <!-- Modal for Login Form -->
  <div class="ui mini modal" id="login-modal">
    <div class="header">Log In as Employee</div>
    <div class="content">
      {% if form.non_field_errors %}
        <div class="ui error message">
          <i class="close icon"></i>
          <div class="header">
            There were some errors with your submission
          </div>
          <ul class="list">
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <form action="{% url 'login_view' %}" method="post" id="login_form" class="ui form">
        {% csrf_token %}

        {% for field in form %}
          <div class="field">
            {{ field.errors }}
            <label>{{ field.label_tag }}</label>
            {{ field }}
          </div>
        {% endfor %}

        <div class="actions">
          <a id="close-form" class="ui button">Cancel</a>
          <button id="submit-btn" class="ui black button" type="submit">Log In</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    $('#login-modal').modal('attach events', '#login-btn', 'show')
    $('#login-modal').modal('attach events', '#close-form', 'hide')

    $('.message .close').on('click', function() {
      $(this).closest('.message').transition('fade')
    })

    $('#login_form').on('submit', function(e) {
      $('#submit-btn').addClass('loading').prop('disabled', true)
    })
  </script>
{% endblock script %}
