{% extends "base.html" %}
{% load static %}

{% block title %}Update Task{% endblock %}

{% block content %}
  {% include 'components/main_menu.html' %}

  <div class="ui container">
    <h1 class="ui header">
      Updating {{ form.instance.title }}
    </h1>

    <form class="ui form" method="POST">
      {% csrf_token %}

      {% for field in form %}
        <div class="field">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        </div>
      {% endfor %}

      <button type="submit" class="ui button">Update task</button>
    </form>
  </div>
{% endblock %}
