{% extends "base.html" %}
{% load static %}

{% block title %}Update Project Details{% endblock %}

{% block content %}
  {% include 'components/main_menu.html' %}

  <div class="ui container">
    <h1 class="ui header">
      <img src="{% static 'img/projects/'|add:form.instance.icon %}" class="ui circular image">
      Updating {{ form.instance.name }}
    </h1>

    <form class="ui form" method="POST">
      {% csrf_token %}

      {% for field in form %}
        <div class="field">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        </div>
      {% endfor %}

      <button type="submit" class="ui button">Update</button>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script>$('.ui.dropdown').dropdown()</script>
{% endblock script %}
