{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block jumbo %}
  <h1 class="display-4">National League Football Parra</h1>
  <p class="lead">Official website for NLFP stats and details. Learn more about your favourite players and teams while also contributing to the database. This website is crowd-managed and may display erroneous information.</p>
{% endblock jumbo %}

{% block content %}
  <div class="card-group">
    {% for team in teams %}
      <div class="card">
        <img class="card-img-top" src="static/img/teams/{{ team.logo }}" alt="Card image cap" height=170>
        <div class="card-body">
          <h5 class="card-title">{{ team.name }}</h5>
          <p class="card-text">{{ team.description|truncatechars:200 }}</p>
          <a href="{% url 'detail_team' team.id %}" class="btn btn-primary">Learn more</a>
          <a href="{{ team.website }}" class="btn btn-secondary">Website</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
