{% extends 'base.html' %}

{% block title %}{{ player.full_name }}{% endblock title %}

{% block jumbo %}
  <h1 class="display-4">{{ player.full_name }}</h1>
{% endblock jumbo %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <img src="/static/img/players/{{ player.photo }}" class="img-fluid" alt="{{ team.name }} logo">
    </div>
    <div class="col-sm-8">
      <ul class="list-group">
        <li class="list-group-item"><strong>Age:</strong> {{ player.age }}</li>
        <li class="list-group-item"><strong>Position:</strong> {{ player.position }}</li>
        <li class="list-group-item"><strong>Team:</strong> {{ player.team.name }} <a href="{% url 'detail_team' player.team.id %}" class="btn btn-secondary btn-sm"><i class="fas fa-external-link-alt"></i></a></li>
        <li class="list-group-item"><strong>Birthplace:</strong> {{ player.birthplace }}</li>
        <li class="list-group-item"><strong>Height:</strong> {{ player.height }}</li>
        <li class="list-group-item"><strong>Weight:</strong> {{ player.weight }} lbs</li>
      </ul>
    </div>
  </div>
{% endblock content %}
