{% extends 'base.html' %}

{% block title %}Player List{% endblock title %}

{% block jumbo %}
  <h1 class="display-4">Complete Player List</h1>
  <form id="filterform">
    <div class="row">
      <div class="form-group mb-2 col-sm-10">
        <label for="inputPosition" class="sr-only">Position</label>
        <input type="text" class="form-control" id="inputPosition" placeholder="Input your search query">
      </div>
      <div class="form-group mb-2 col-sm-2">
        <button type="submit" class="btn btn-primary mb-2 btn-block">Filter</button>
      </div>
    </div>
  </form>

  {% if positions %}
    <p>Alternatively you can list players that belong to a certain position by clicking the following buttons:</p>
    {% for pos in positions %}
      <a href="{% url 'list_players' %}?position={{ pos.position }}">
        <span class="badge badge-pill badge-primary">{{ pos.position }}</span>
      </a>
    {% endfor %}
  {% else %}{% endif %}
{% endblock jumbo %}

{% block content %}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Birthplace</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
        <th scope="col">Position</th>
        <th scope="col">Team</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="playerTable">
      {% for player in players %}
        <tr>
          <th scope="row">{{ player.full_name }}</th>
          <td>{{ player.birthplace }}</td>
          <td>{{ player.height }}</td>
          <td>{{ player.weight }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.team.name }}</td>
          <td class="text-center">
            <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'detail_player' player.id %}"><i class="fas fa-info-circle"></i> Details</a>
                <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Remove</a>
                <a class="dropdown-item" href="#"><i class="fas fa-pen"></i> Edit</a>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    $(document).ready(function() {
      $('#filterform').submit(function(e) {
        e.preventDefault()

        const val = $('#inputPosition').val().toLowerCase()

        $("#playerTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(val) > -1)
        });
      })
    })
  </script>
{% endblock content %}
