{% extends 'base.html' %}

{% block title %}Stadium List{% endblock title %}

{% block jumbo %}
  <h1 class="display-4">National League Football Parra</h1>
  <p class="lead">Official website for NLFP stats and details. Learn more about your favourite players and teams while also contributing to the database. This website is crowd-managed and may display erroneous information.</p>
{% endblock jumbo %}

{% block content %}
  <div class="card-group">
    {% for stadium in stadiums %}
      <div class="card">
        <img class="card-img-top" src="/static/img/stadiums/{{ stadium.photo }}" alt="Card image cap" height=170>
        <div class="card-body">
          <h5 class="card-title">{{ stadium.name }}</h5>
          <p class="card-text">{{ stadium.description|truncatechars:200 }}</p>
          <a href="{% url 'detail_stadium' stadium.id %}" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
