{% extends 'base.html' %}

{% block title %}{{ stadium.name }}{% endblock title %}

{% block jumbo %}
  <h1 class="display-4">{{ stadium.name }}</h1>
  <p class="lead">{{ stadium.description }}</p>
{% endblock jumbo %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <img src="/static/img/stadiums/{{ stadium.photo }}" class="img-fluid" alt="{{ stadium.name }} logo">
    </div>
    <div class="col-sm-8">
      <ul class="list-group">
        <li class="list-group-item"><strong>Capacity:</strong> {{ stadium.capacity }}</li>
        <li class="list-group-item"><strong>Address:</strong> {{ stadium.address }}</li>
        <li class="list-group-item"><strong>Location:</strong> {{ stadium.location }}</li>
      </ul>
    </div>
  </div>
{% endblock content %}
