{% extends 'base.html' %}

{% block title %}{{ team.name }}{% endblock title %}

{% block jumbo %}
  <h1 class="display-4">{{ team.name }}</h1>
  <p class="lead">{{ team.description }}</p>
{% endblock jumbo %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <img src="/static/img/teams/{{ team.logo }}" class="img-fluid" alt="{{ team.name }} logo">
      <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#roster" aria-expanded="false" aria-controls="collapseExample">Show/Hide Roster</button>
    </div>
    <div class="col-sm-8">
      <ul class="list-group">
        <li class="list-group-item"><strong>Stadium:</strong> {{ team.stadium.name }} <a href="{% url 'detail_stadium' team.stadium.id %}" class="btn btn-secondary btn-sm"><i class="fas fa-external-link-alt"></i></a></li>
        <li class="list-group-item"><strong>Website:</strong> <a href="{{ team.website }}">{{ team.website }}</a></li>
        <li class="list-group-item"><strong>Owner:</strong> {{ team.owner }}</li>
        <li class="list-group-item"><strong>Head Coach:</strong> {{ team.head_coach }}</li>
      </ul>
    </div>
  </div>

  <div class="collapse mt-3" id="roster">
    <table class="table table-striped">
    <h1 class="mb-3">Player Roster</h1>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Birthplace</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
        <th scope="col">Position</th>
        <th scope="col">Team</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for player in roster %}
        <tr>
          <th scope="row">{{ player.full_name }}</th>
          <td>{{ player.birthplace }}</td>
          <td>{{ player.height }}</td>
          <td>{{ player.weight }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.team.name }}</td>
          <td class="text-center">
            <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'detail_player' player.id %}"><i class="fas fa-info-circle"></i> Details</a>
                <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Remove</a>
                <a class="dropdown-item" href="#"><i class="fas fa-pen"></i> Edit</a>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock content %}
